<a name="top" id="top"></a>

<div align="center">
    <h1>CHE597 - Pandas Overview</h1>
    <a href="https://github.com/bernalde">David E. Bernal Neira</a>
    <br>
    <i>Davidson School of Chemical Engineering, Purdue University</i>
    <br>
    <a href="https://colab.research.google.com/github/SECQUOIA/PU_CHE597_S2025/blob/main/4-Pandas_Overview/Pandas.ipynb" target="_parent">
        <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
    </a>
    <a href="https://secquoia.github.io/">
        <img src="https://img.shields.io/badge/ðŸŒ²âš›ï¸ðŸŒ-SECQUOIA-blue" alt="SECQUOIA"/>
    </a>
</div>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Pandas-Series" data-toc-modified-id="Pandas-Series-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Pandas Series</a></span><ul class="toc-item"><li><span><a href="#Initializing-Series" data-toc-modified-id="Initializing-Series-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Initializing Series</a></span></li><li><span><a href="#Series-Up-casting-Behavior" data-toc-modified-id="Series-Up-casting-Behavior-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Series Up-casting Behavior</a></span></li><li><span><a href="#Series-Index" data-toc-modified-id="Series-Index-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Series Index</a></span></li><li><span><a href="#Series-Slicing" data-toc-modified-id="Series-Slicing-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Series Slicing</a></span></li><li><span><a href="#Series-Operator-Behavior" data-toc-modified-id="Series-Operator-Behavior-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Series Operator Behavior</a></span></li><li><span><a href="#Adding-and-Dropping-Elements" data-toc-modified-id="Adding-and-Dropping-Elements-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Adding and Dropping Elements</a></span></li><li><span><a href="#Series-Methods" data-toc-modified-id="Series-Methods-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Series Methods</a></span></li></ul></li><li><span><a href="#Pandas-Dataframes" data-toc-modified-id="Pandas-Dataframes-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Pandas Dataframes</a></span><ul class="toc-item"><li><span><a href="#Initializing-Dataframes" data-toc-modified-id="Initializing-Dataframes-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Initializing Dataframes</a></span></li><li><span><a href="#Dataframe-Up-casting-Behavior" data-toc-modified-id="Dataframe-Up-casting-Behavior-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Dataframe Up-casting Behavior</a></span></li><li><span><a href="#Dataframe-Slicing" data-toc-modified-id="Dataframe-Slicing-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Dataframe Slicing</a></span></li><li><span><a href="#Dataframe-Operator-Behavior" data-toc-modified-id="Dataframe-Operator-Behavior-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Dataframe Operator Behavior</a></span></li><li><span><a href="#Adding-and-Dropping-Elements" data-toc-modified-id="Adding-and-Dropping-Elements-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Adding and Dropping Elements</a></span></li><li><span><a href="#Dataframe-Methods" data-toc-modified-id="Dataframe-Methods-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Dataframe Methods</a></span><ul class="toc-item"><li><span><a href="#Filter-Methods" data-toc-modified-id="Filter-Methods-2.6.1"><span class="toc-item-num">2.6.1&nbsp;&nbsp;</span>Filter Methods</a></span></li><li><span><a href="#Sorting-Methods" data-toc-modified-id="Sorting-Methods-2.6.2"><span class="toc-item-num">2.6.2&nbsp;&nbsp;</span>Sorting Methods</a></span></li><li><span><a href="#Missing-Values" data-toc-modified-id="Missing-Values-2.6.3"><span class="toc-item-num">2.6.3&nbsp;&nbsp;</span>Missing Values</a></span></li></ul></li></ul></li><li><span><a href="#Summary-of-Series-Methods" data-toc-modified-id="Summary-of-Series-Methods-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Summary of Series Methods</a></span><ul class="toc-item"><li><span><a href="#Series.abs()" data-toc-modified-id="Series.abs()-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Series.abs()</a></span></li><li><span><a href="#Series.add()" data-toc-modified-id="Series.add()-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Series.add()</a></span></li><li><span><a href="#Series.add_prefix()" data-toc-modified-id="Series.add_prefix()-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Series.add_prefix()</a></span></li><li><span><a href="#Series.add_suffix()" data-toc-modified-id="Series.add_suffix()-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Series.add_suffix()</a></span></li><li><span><a href="#Series.agg()" data-toc-modified-id="Series.agg()-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Series.agg()</a></span></li><li><span><a href="#Series.align()" data-toc-modified-id="Series.align()-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Series.align()</a></span></li><li><span><a href="#Series.all()" data-toc-modified-id="Series.all()-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Series.all()</a></span></li><li><span><a href="#Series.any()" data-toc-modified-id="Series.any()-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>Series.any()</a></span></li><li><span><a href="#concat()" data-toc-modified-id="concat()-3.9"><span class="toc-item-num">3.9&nbsp;&nbsp;</span>concat()</a></span></li><li><span><a href="#Series.apply()" data-toc-modified-id="Series.apply()-3.10"><span class="toc-item-num">3.10&nbsp;&nbsp;</span>Series.apply()</a></span></li><li><span><a href="#Series.argsort()" data-toc-modified-id="Series.argsort()-3.11"><span class="toc-item-num">3.11&nbsp;&nbsp;</span>Series.argsort()</a></span></li><li><span><a href="#Series.asfreq()" data-toc-modified-id="Series.asfreq()-3.12"><span class="toc-item-num">3.12&nbsp;&nbsp;</span>Series.asfreq()</a></span></li><li><span><a href="#Series.asof()" data-toc-modified-id="Series.asof()-3.13"><span class="toc-item-num">3.13&nbsp;&nbsp;</span>Series.asof()</a></span></li><li><span><a href="#Series.astype()" data-toc-modified-id="Series.astype()-3.14"><span class="toc-item-num">3.14&nbsp;&nbsp;</span>Series.astype()</a></span></li><li><span><a href="#Series.at_time()" data-toc-modified-id="Series.at_time()-3.15"><span class="toc-item-num">3.15&nbsp;&nbsp;</span>Series.at_time()</a></span></li><li><span><a href="#Series.autocorr()" data-toc-modified-id="Series.autocorr()-3.16"><span class="toc-item-num">3.16&nbsp;&nbsp;</span>Series.autocorr()</a></span></li><li><span><a href="#Series.between()" data-toc-modified-id="Series.between()-3.17"><span class="toc-item-num">3.17&nbsp;&nbsp;</span>Series.between()</a></span></li><li><span><a href="#Series.between_time()" data-toc-modified-id="Series.between_time()-3.18"><span class="toc-item-num">3.18&nbsp;&nbsp;</span>Series.between_time()</a></span></li><li><span><a href="#Series.fillna()" data-toc-modified-id="Series.fillna()-3.19"><span class="toc-item-num">3.19&nbsp;&nbsp;</span>Series.fillna()</a></span></li><li><span><a href="#Series.clip()" data-toc-modified-id="Series.clip()-3.20"><span class="toc-item-num">3.20&nbsp;&nbsp;</span>Series.clip()</a></span></li><li><span><a href="#Series.combine()" data-toc-modified-id="Series.combine()-3.21"><span class="toc-item-num">3.21&nbsp;&nbsp;</span>Series.combine()</a></span></li><li><span><a href="#Series.combine_first()" data-toc-modified-id="Series.combine_first()-3.22"><span class="toc-item-num">3.22&nbsp;&nbsp;</span>Series.combine_first()</a></span></li><li><span><a href="#Series.copy()" data-toc-modified-id="Series.copy()-3.23"><span class="toc-item-num">3.23&nbsp;&nbsp;</span>Series.copy()</a></span></li><li><span><a href="#Series.corr()" data-toc-modified-id="Series.corr()-3.24"><span class="toc-item-num">3.24&nbsp;&nbsp;</span>Series.corr()</a></span></li><li><span><a href="#Series.cov()" data-toc-modified-id="Series.cov()-3.25"><span class="toc-item-num">3.25&nbsp;&nbsp;</span>Series.cov()</a></span></li><li><span><a href="#Series.cummax()" data-toc-modified-id="Series.cummax()-3.26"><span class="toc-item-num">3.26&nbsp;&nbsp;</span>Series.cummax()</a></span></li><li><span><a href="#Series.cummin()" data-toc-modified-id="Series.cummin()-3.27"><span class="toc-item-num">3.27&nbsp;&nbsp;</span>Series.cummin()</a></span></li><li><span><a href="#Series.cumprod()" data-toc-modified-id="Series.cumprod()-3.28"><span class="toc-item-num">3.28&nbsp;&nbsp;</span>Series.cumprod()</a></span></li><li><span><a href="#Series.cumsum()" data-toc-modified-id="Series.cumsum()-3.29"><span class="toc-item-num">3.29&nbsp;&nbsp;</span>Series.cumsum()</a></span></li><li><span><a href="#Series.describe()" data-toc-modified-id="Series.describe()-3.30"><span class="toc-item-num">3.30&nbsp;&nbsp;</span>Series.describe()</a></span></li><li><span><a href="#Series.diff()" data-toc-modified-id="Series.diff()-3.31"><span class="toc-item-num">3.31&nbsp;&nbsp;</span>Series.diff()</a></span></li><li><span><a href="#Series.dot()" data-toc-modified-id="Series.dot()-3.32"><span class="toc-item-num">3.32&nbsp;&nbsp;</span>Series.dot()</a></span></li><li><span><a href="#Series.drop()" data-toc-modified-id="Series.drop()-3.33"><span class="toc-item-num">3.33&nbsp;&nbsp;</span>Series.drop()</a></span></li><li><span><a href="#Series.drop_duplicates()" data-toc-modified-id="Series.drop_duplicates()-3.34"><span class="toc-item-num">3.34&nbsp;&nbsp;</span>Series.drop_duplicates()</a></span></li><li><span><a href="#Series.dropna()" data-toc-modified-id="Series.dropna()-3.35"><span class="toc-item-num">3.35&nbsp;&nbsp;</span>Series.dropna()</a></span></li><li><span><a href="#Series.duplicated()" data-toc-modified-id="Series.duplicated()-3.36"><span class="toc-item-num">3.36&nbsp;&nbsp;</span>Series.duplicated()</a></span></li><li><span><a href="#Series.explode()" data-toc-modified-id="Series.explode()-3.37"><span class="toc-item-num">3.37&nbsp;&nbsp;</span>Series.explode()</a></span></li><li><span><a href="#Series.fillna()" data-toc-modified-id="Series.fillna()-3.38"><span class="toc-item-num">3.38&nbsp;&nbsp;</span>Series.fillna()</a></span></li><li><span><a href="#Series.filter()" data-toc-modified-id="Series.filter()-3.39"><span class="toc-item-num">3.39&nbsp;&nbsp;</span>Series.filter()</a></span></li><li><span><a href="#Series.groupby()" data-toc-modified-id="Series.groupby()-3.40"><span class="toc-item-num">3.40&nbsp;&nbsp;</span>Series.groupby()</a></span></li><li><span><a href="#Series.idxmax()" data-toc-modified-id="Series.idxmax()-3.41"><span class="toc-item-num">3.41&nbsp;&nbsp;</span>Series.idxmax()</a></span></li><li><span><a href="#Series.idxmin()" data-toc-modified-id="Series.idxmin()-3.42"><span class="toc-item-num">3.42&nbsp;&nbsp;</span>Series.idxmin()</a></span></li><li><span><a href="#Series.interpolate()" data-toc-modified-id="Series.interpolate()-3.43"><span class="toc-item-num">3.43&nbsp;&nbsp;</span>Series.interpolate()</a></span></li><li><span><a href="#Series.items()" data-toc-modified-id="Series.items()-3.44"><span class="toc-item-num">3.44&nbsp;&nbsp;</span>Series.items()</a></span></li><li><span><a href="#Series.kurtosis()" data-toc-modified-id="Series.kurtosis()-3.45"><span class="toc-item-num">3.45&nbsp;&nbsp;</span>Series.kurtosis()</a></span></li><li><span><a href="#Series.mad()" data-toc-modified-id="Series.mad()-3.46"><span class="toc-item-num">3.46&nbsp;&nbsp;</span>Series.mad()</a></span></li><li><span><a href="#Series.map()" data-toc-modified-id="Series.map()-3.47"><span class="toc-item-num">3.47&nbsp;&nbsp;</span>Series.map()</a></span></li><li><span><a href="#Series.mask()" data-toc-modified-id="Series.mask()-3.48"><span class="toc-item-num">3.48&nbsp;&nbsp;</span>Series.mask()</a></span></li><li><span><a href="#Series.max()" data-toc-modified-id="Series.max()-3.49"><span class="toc-item-num">3.49&nbsp;&nbsp;</span>Series.max()</a></span></li><li><span><a href="#Series.mean()" data-toc-modified-id="Series.mean()-3.50"><span class="toc-item-num">3.50&nbsp;&nbsp;</span>Series.mean()</a></span></li><li><span><a href="#Series.median()" data-toc-modified-id="Series.median()-3.51"><span class="toc-item-num">3.51&nbsp;&nbsp;</span>Series.median()</a></span></li><li><span><a href="#Series.min()" data-toc-modified-id="Series.min()-3.52"><span class="toc-item-num">3.52&nbsp;&nbsp;</span>Series.min()</a></span></li><li><span><a href="#Series.mode()" data-toc-modified-id="Series.mode()-3.53"><span class="toc-item-num">3.53&nbsp;&nbsp;</span>Series.mode()</a></span></li><li><span><a href="#Series.nlargest()" data-toc-modified-id="Series.nlargest()-3.54"><span class="toc-item-num">3.54&nbsp;&nbsp;</span>Series.nlargest()</a></span></li><li><span><a href="#Series.nsmallest()" data-toc-modified-id="Series.nsmallest()-3.55"><span class="toc-item-num">3.55&nbsp;&nbsp;</span>Series.nsmallest()</a></span></li><li><span><a href="#Series.nunique()" data-toc-modified-id="Series.nunique()-3.56"><span class="toc-item-num">3.56&nbsp;&nbsp;</span>Series.nunique()</a></span></li><li><span><a href="#Series.pct_change()" data-toc-modified-id="Series.pct_change()-3.57"><span class="toc-item-num">3.57&nbsp;&nbsp;</span>Series.pct_change()</a></span></li><li><span><a href="#Series.pop()" data-toc-modified-id="Series.pop()-3.58"><span class="toc-item-num">3.58&nbsp;&nbsp;</span>Series.pop()</a></span></li><li><span><a href="#Series.quantile()" data-toc-modified-id="Series.quantile()-3.59"><span class="toc-item-num">3.59&nbsp;&nbsp;</span>Series.quantile()</a></span></li><li><span><a href="#Series.rank()" data-toc-modified-id="Series.rank()-3.60"><span class="toc-item-num">3.60&nbsp;&nbsp;</span>Series.rank()</a></span></li><li><span><a href="#Series.reindex()" data-toc-modified-id="Series.reindex()-3.61"><span class="toc-item-num">3.61&nbsp;&nbsp;</span>Series.reindex()</a></span></li><li><span><a href="#Series.reindex_like()" data-toc-modified-id="Series.reindex_like()-3.62"><span class="toc-item-num">3.62&nbsp;&nbsp;</span>Series.reindex_like()</a></span></li><li><span><a href="#Series.rename()" data-toc-modified-id="Series.rename()-3.63"><span class="toc-item-num">3.63&nbsp;&nbsp;</span>Series.rename()</a></span></li><li><span><a href="#Series.repeat()" data-toc-modified-id="Series.repeat()-3.64"><span class="toc-item-num">3.64&nbsp;&nbsp;</span>Series.repeat()</a></span></li><li><span><a href="#Series.replace()" data-toc-modified-id="Series.replace()-3.65"><span class="toc-item-num">3.65&nbsp;&nbsp;</span>Series.replace()</a></span></li><li><span><a href="#Series.reset_index()" data-toc-modified-id="Series.reset_index()-3.66"><span class="toc-item-num">3.66&nbsp;&nbsp;</span>Series.reset_index()</a></span></li><li><span><a href="#Series.rolling()" data-toc-modified-id="Series.rolling()-3.67"><span class="toc-item-num">3.67&nbsp;&nbsp;</span>Series.rolling()</a></span></li><li><span><a href="#Series.round()" data-toc-modified-id="Series.round()-3.68"><span class="toc-item-num">3.68&nbsp;&nbsp;</span>Series.round()</a></span></li><li><span><a href="#Series.sample()" data-toc-modified-id="Series.sample()-3.69"><span class="toc-item-num">3.69&nbsp;&nbsp;</span>Series.sample()</a></span></li><li><span><a href="#Series.searchsorted()" data-toc-modified-id="Series.searchsorted()-3.70"><span class="toc-item-num">3.70&nbsp;&nbsp;</span>Series.searchsorted()</a></span></li><li><span><a href="#Series.sem()" data-toc-modified-id="Series.sem()-3.71"><span class="toc-item-num">3.71&nbsp;&nbsp;</span>Series.sem()</a></span></li><li><span><a href="#Series.shift()" data-toc-modified-id="Series.shift()-3.72"><span class="toc-item-num">3.72&nbsp;&nbsp;</span>Series.shift()</a></span></li><li><span><a href="#Series.skew()" data-toc-modified-id="Series.skew()-3.73"><span class="toc-item-num">3.73&nbsp;&nbsp;</span>Series.skew()</a></span></li><li><span><a href="#Series.sort_index()" data-toc-modified-id="Series.sort_index()-3.74"><span class="toc-item-num">3.74&nbsp;&nbsp;</span>Series.sort_index()</a></span></li><li><span><a href="#Series.sort_values()" data-toc-modified-id="Series.sort_values()-3.75"><span class="toc-item-num">3.75&nbsp;&nbsp;</span>Series.sort_values()</a></span></li><li><span><a href="#Series.std()" data-toc-modified-id="Series.std()-3.76"><span class="toc-item-num">3.76&nbsp;&nbsp;</span>Series.std()</a></span></li><li><span><a href="#Series.sum()" data-toc-modified-id="Series.sum()-3.77"><span class="toc-item-num">3.77&nbsp;&nbsp;</span>Series.sum()</a></span></li><li><span><a href="#Series.take()" data-toc-modified-id="Series.take()-3.78"><span class="toc-item-num">3.78&nbsp;&nbsp;</span>Series.take()</a></span></li><li><span><a href="#Series.to_*()" data-toc-modified-id="Series.to_*()-3.79"><span class="toc-item-num">3.79&nbsp;&nbsp;</span>Series.to_*()</a></span></li><li><span><a href="#Series.transform()" data-toc-modified-id="Series.transform()-3.80"><span class="toc-item-num">3.80&nbsp;&nbsp;</span>Series.transform()</a></span></li><li><span><a href="#Series.truncate()" data-toc-modified-id="Series.truncate()-3.81"><span class="toc-item-num">3.81&nbsp;&nbsp;</span>Series.truncate()</a></span></li><li><span><a href="#Series.unique()" data-toc-modified-id="Series.unique()-3.82"><span class="toc-item-num">3.82&nbsp;&nbsp;</span>Series.unique()</a></span></li><li><span><a href="#Series.update()" data-toc-modified-id="Series.update()-3.83"><span class="toc-item-num">3.83&nbsp;&nbsp;</span>Series.update()</a></span></li><li><span><a href="#Series.value_counts()" data-toc-modified-id="Series.value_counts()-3.84"><span class="toc-item-num">3.84&nbsp;&nbsp;</span>Series.value_counts()</a></span></li><li><span><a href="#Series.var()" data-toc-modified-id="Series.var()-3.85"><span class="toc-item-num">3.85&nbsp;&nbsp;</span>Series.var()</a></span></li><li><span><a href="#Series.where()" data-toc-modified-id="Series.where()-3.86"><span class="toc-item-num">3.86&nbsp;&nbsp;</span>Series.where()</a></span></li></ul></li></ul></div>

<b>If you are using google colab you should save this notebook and any associated textfiles to their own folder on your google drive. Then you will need to adapt the following commands so that the notebook runs from the location of that folder. This is only necessary for the brief section on reading text files into Python.</b>

In [727]:
# If using this on Google colab, we need to install the packages
try:
  import google.colab
  IN_COLAB = True
except:
  IN_COLAB = False

if IN_COLAB:
    from google.colab import drive
    drive.mount('/content/drive')

    # Colab command to navigate to the folder holding the homework,
    # CHANGE FOR YOUR SPECIFIC FOLDER LOCATION IN GOOGLE DRIVE
    # Note: if there are spaces in the path, you need to preceed them with a backslash '\'
    %cd /content/drive/My\ Drive/CHE597/Lectures/3-Pandas



# Introduction to Pandas
<b>Pandas</b> is a growing library that fills a gap in scipy/numpy with regard to some statistical and data analysis functionality. Pandas supplies important classes called  series (for 1d data) and dataframe (for 2d). These classes provide some similar functionality to arrays in numpy, except that they are much more flexible with respect to data type, quantity, and labeling. In particular, these objects are designed to deal with tabular data of the sort that might be imported from spreadsheets with headers. Through these classes, Pandas supports <b>size mutability</b> (e.g., adding and deleting columns from a large spreadsheet), <b>data alignment</b> (e.g., aligning data based on a common index or attribute), and intelligent handling of <b>missing data</b> (e.g., you may have only a subset of attributes in a given row in a spreadsheet). In this section we will see the basic attributes and methods associated with these pandas classes. 

<b>historical note:</b> Pandas is less mature than numpy and so functionality is still routinely being added (and bugs are being fixed for relatively new methods). 

In the following sections keywords you should know and in-text code will be presented as <b>keywords</b> and `code`, respectively. 

## Pandas Series
Pandas series are similar to 1D arrays, except that they support dictionary-like indexing. However, unlike dictionaries, series are ordered. Thus, series combine the functionality of arrays with the functionality of dictionaries. This might sound counterintuitive, but after working through the examples below you will see how sometimes you would want to perform operations according to order (like in numpy), but othertimes you might want to perform operations according to label (like in a dictionary). Later, when we discuss dataframes, you will see that these are basically collections of series to form a 2D object. Thus, series and dataframes share a lot of methods and attributes. 

### Initializing Series
Initializing a pandas series is as simple as importing the library and passing a list to the `series` constructor:

In [ ]:
import pandas as pd
import numpy as np
a = pd.Series(range(-1,5))
print(a)

Note that because we've imported pandas as `.pd`, we access the associated objects in pandas through the `pd.` namespace. The `Series` constructor accepts a list, value, or `np.array` and has an optional argument for the datatype `dtype`:

In [ ]:
b = pd.Series(range(5),dtype=float)
print(b)

### Series Up-casting Behavior
When we supply the dtype `float`, the list of integers returned by `range(5)` are upcast to python floats. If you supply `Series()` with mixed numerical types it will always upcast to the highest level required to represent all of the objects. However, Pandas series also support mixed types:

In [ ]:
c = pd.Series([1,2.0,1+1j])
d = pd.Series([1,2.0,"3"])
print(c)
print(d)
print(type(d[0]))
print(type(d[1]))
print(type(d[2]))

In the first example all of the numbers are recast as complex, in the second the mixed types are retained. If all of the objects passed to `Series()` are numeric, then you can expect up-casting. If you supply mixed non-numeric and numeric entries then don't expect up-casting.

You can also initialize series with lists as objects:

In [ ]:
d = pd.Series([[1,2],[3,4,5]])
print(d)

Note, series are inherently one dimensional. Passing a list of lists is interepreted one-dimensionally as "a separate list for each element" in the series.

### Series Index 
Have you noticed those integers `0 1` etc. that are printed along with each series? Those are called the <b>index</b> of the series, and individually they are referred to as the <b>labels</b>. By default they are initialize to the integers `0,1..n-1` where `n` is the number of elements in the series. But they can be changed to anything that makes sense for the data:

In [ ]:
e = pd.Series(range(5),index=[ "r{}".format(_) for _ in range(5) ])
print(e)
print(e["r1"])
print(e[1])
print(e.iloc[1])

In this example we have initialized a series and made the labels `r0`,`r1`, etc. With series you can access elements either by the label (`e["r1"]`) or the index (`e[1]`). In this respect, Series combine the functionality of dictionaries with ordered objects like lists and arrays. The index plays an important role in series, because it determines the order in which operators will be applied to the data. You can also slice series as you do arrays (described more fully in the section below). 

You can set the index of your series by initializing it with a dictionary:

In [ ]:
d1 = {"r0":0,"r1":1,"r2":2}
d2 = {"r2":2,"r1":1,"r0":0}
f = pd.Series(d1)
g = pd.Series(d2)
print(f)
print(g)
print(d1 == d2)

Note that when you initialize a series with a dictionary, it respects the ordering of keys in the resulting series even though internally these two dictionaries are identical (`d1 == d2` returns `True`). (<b>Sidenote:</b> Python dictionaries actually retain key ordering from initialization if you don't add anything to them, but never count on it.)  

<b>Reindex with Series Constructor:</b> You can reassign the ordering of labels in an existing series by initializing a new series with the same labels but in a different order:

In [ ]:
h = pd.Series({"a":1,"b":2})
print("h:\n{}\n".format(h))

# Example 1: Series constructor on existing series
h = pd.Series(h,index=["b","a"])
print("h(reinitialized):\n{}\n".format(h))

# Example 2: Returns empty where labels don't exist
print("h(reinitialized):\n{}\n".format(pd.Series(h,index=["zero","one"])))

<b>-Example 1:</b> We supply an existing series to the `pd.Series()` constructor but change the order of the index labels. The result is a new series with the indicated ordering of labels.

<b>-Example 2:</b> If you reindex a series using the `pd.Series()` then pandas will return a `NaN` for any label that didn't already exist in the series (you will also lose any dropped labels). 

<b>Reindex with `Series.index` attribute:</b> The index is a callable attribute of the series (`Series.index`) and can be reassigned in place:

In [ ]:
h = pd.Series({"a":1,"b":2})
print("h:\n{}".format(h))
print("\nh.index:\n{}".format(h.index))
h.index = [ _.upper() for _ in h.index] 
print("\nh (after):\n{}".format(h))

### Series Slicing
The index plays an important role in series (and later dataframes) because they provide an additional mechanism for slicing values. Specifically, series can be sliced similar to python lists and numpy arrays using square bracket notation (`[start:end:stride]`). For series, you can slice by either the value order (position-based indexing) or the labels:

In [ ]:
i = pd.Series([1,2,3,4,5],index=["a","b","c","d","e"])

# Example 1: return a single value based on position
print("i[1]:\n{}\n".format(i[1]))

# Example 2: return every other value based on position
print("i[::2]:\n{}\n".format(i[::2]))

# Example 3: return every value between the second and fourth
#            based on position
print("i[1:4]:\n{}\n".format(i[1:4]))

# Example 4: return the second through next to third from last
#            based on position
print('i[1:-2]:\n{}\n'.format(i[1:-2]))

# Example 5: return the values corresponding to labels 
#            between "b" and "d" (inclusive) 
print('i["b":"d"]:\n{}\n'.format(i["b":"d"]))

# Example 6: return the values corresponding to labels 
#            between "b" and "d" with stride 2.
print('i["b":"d":2]:\n{}\n'.format(i["b":"d":2]))

# Example 7: you can use lists of labels to return values
#            in a given order. 
print('i[["c","a"]]:\n{}\n'.format(i[["c","a"]]))

# Example8: you can also use lists of integers to return values
#           in a given order based on their position. 
print('i[[1,3,0]]:\n{}\n'.format(i[[1,3,0]]))

<b>-Example 1:</b> Since the labels of `i` are string-based, supplying an integer to the label is interpreted as "return the value at this position" not "literal label". 

<b>-Example 2:</b> In position-based slicing, `start:end:stride` syntax is supported. 

<b>-Example 3:</b> Example of position-based slicing (start:end)

<b>-Example 4:</b> Example of position-based slicing with negative position support.

<b>-Example 5:</b> Example of position-based slicing using the labels (`start:end:stride`) where `start` and `end` are the specified labels.

<b>-Example 6:</b> Example of position-based slicing with stride support.

<b>-Example 7:</b> Example of list based slicing, where members of the list are interpreted as labels. 

<b>-Example 8:</b> Example of list based slicing, where members of the list are interpreted as positions.

<b>Note</b>: integers are always interpreted as "position-based" inputs for the purpose of slicing series. This means that for series with integer labels or mixed string and integer labels, label-based slicing does not work as you might expect, because the integers will be interpreted in position-based fashion, not as the literal index. Likewise, mixing strings and integer labels in a slicing operation will not work:

In [ ]:
j = pd.Series([5,10,20,21,22],index=[10,"a",(1,2),"c",1])

# Example 1: Empty series
print("j[10:1]:\n{}\n".format(j[10:1]))

# Example 2: First two values
print("j[0:2]:\n{}\n".format(j[0:2]))

# Example 3: Mixed tuple and string (works)
print(j[(1,2):"c"])

# Example 4: Mixed int and string (ERROR)
print('j["a":1]:\n{}\n'.format(j["a":1])) # ERROR

<b>-Example 1:</b> The integers `10` and `1` are interpreted as position indicators not labels, since `10>1` the returned series is empty.

<b>-Example 2:</b> `j[0:2]` works as expected by position-based indexing.

<b>-Example 3:</b> label-based slicing works as long as the labels involved aren't integers.

<b>-Example 4:</b> label-based slicing gives an error if you attempt to put in an integer. Bottom line: mixed integers and string labels don't usually make sense for use as labels. 

<b>non-unique labels</b>: Series labels can be repeated. This might be typical if the label corresponded to a class (e.g., `dog`) and you had multiple instances of this class in your dataset (e.g., many dogs and many cats) with differing values. In this case, slicing by label is prohibited, but you can still slice by position or call the common labels directly:

In [ ]:
k = pd.Series(range(5),index=["a","a","a","b","a"])

# Example 1: call all instances of label "a"
print(k["a"])

# Example 2: order based slicing
print(k[1:4])

<b>-Example 1:</b> `"a"` is a repeated label, so we can't slice using it. However, we can get all values associated with this label by calling `k["a"]`.

<b>-Example 2:</b> position-based slicing still works for repeated labels.

<b>Conditional Slicing:</b> Series slicing also support more complex conditional slicing (e.g., similar to using `np.array[np.where(condition)]`). The syntax is `series[condition]`:

In [ ]:
l = pd.Series(range(10),index=range(10)[::-1])

# Example 1: conditional slicing
print(l[l>5])

# Example 2: chained conditional slicing
print(l[6>l][l>=2])

<b>-Example 1:</b> the call `l>5` returns a boolean series with `True` where the condition is `True` (see next section for more details on operator behavior). Series accept boolean series as slicing inputs and will print out any value at the label containing `True` in the supplied series.

<b>-Example 2:</b> Multiple conditions can be applied by using the chained `[]...[]` notation. Each condition is applied sequentially, with the output passed to the next slicing operation.

### Series Operator Behavior
The index plays an important role in series (and later dataframes) because it determines how they behave in standard operators. Specifically, if you try to "add" (`+`) two series, the operator will add elements based on shared labels:

In [ ]:
m = pd.Series({"a":1,"b":2})
n = pd.Series({"b":1,"a":2})
o = pd.Series({"a":1,"b":2,"c":3})
p = pd.Series(range(3),index=[1,2,1])

# Example 1: Adding two series with different ordering but shared labels
print("\nm+n:\n{}\n".format(m+n))

# Example 2: Adding two series with partially overlapping labels.
print("\nm+o:\n{}\n".format(m+o))

# Example 3: Add two series with repeated labels
print("p+p:\n{}\n".format(p+p))

<b>-Example 1:</b> The series pointed to by `m` and `n` have the same labels but in different order. The returned result of `m+n` reflects label-by-label application of the operator.

<b>-Example 2:</b> The series pointed to by `m` and `o` have a partially overlapping set of labels. The returned result of `m+o` reflects label-by-label application of the operator with `NaN` where it cannot be applied. 

<b>-Example 3:</b> The series pointed to by `p` has repeated labels (`1` is used twice). Pandas allows this (e.g., maybe your label is `"conc 0.1M"` and you have multiple measurments at that condition due to the stochastic nature of what you are measuring) <i>but it will revert to element-by-element application of the operator</i>.

Series support all of the common operators defined in python, with label-by-label application and element-by-element fall-back when there are repeated labels:

In [ ]:
m = pd.Series({"a":1,"b":2})
n = pd.Series({"b":1,"a":2})

print("\nm:\n{}".format(m))
print("\nn:\n{}".format(n))
print("\nm+n:\n{}".format(m+n))
print("\nm-n:\n{}".format(m-n))
print("\nm*n:\n{}".format(m*n))
print("\nm/n:\n{}".format(m/n))
print("\nm**n:\n{}".format(m**n))
print("\nm%n:\n{}".format(m%n))

# Logical examples: require identical label ordering
n = n.sort_index()
print("\nm>n:\n{}".format(m>n))
print("\nm==n:\n{}".format(m==n))

The only subtelty here is that logical operators will fail is the labels aren't ordered the same (e.g., try running the above block without the `n = n.sort_index()` call). I'm not sure if this was the intended behavior of the developers but it is how it currently works.

### Adding and Dropping Elements
Series store their values behind the scenes as numpy arrays, so adding or dropping values means reinitializing arrays. You should try to initialize your series so that you don't have to modify their size, or if you do then you should always perform the modification in a single step, if possible. 

<b>Adding Elements:</b> There are two common ways of adding elements to series: 1) using the `concat()` method (preferred) and 2) using the `series[label]=value` method (requires caution).

<b>`concat([series1, series2])` method:</b> This method utilizes the built-in series method `concat()` to return a new series with the contents of `series1` followed at the end by the contents of `series2`. So if you needed to add a lot of new values to a series, you might first make a dictionary (mutable and easy to add to) and then add them all at once to the existing series using `concat()`:

In [ ]:
q = pd.Series(range(3))
r = pd.Series(range(3))

# Example 1: concat with index retained
print(pd.concat([q, r]))

# Example 2: concat and reindex result
print(pd.concat([q, r], ignore_index=True))

<b>-Example 1:</b> The resulting series has repeated labels, because append preserves the labels by default (usually desired when the labels are descriptive).
    
<b>-Example 2:</b> Using the `ignore_index=True` option reinitializes the index of the resulting series to the default integers. The values are ordered as expected.

<b>`series[label]=value` method:</b> This method utilizes the dictionary-like behavior of series to add new labels and values. The behavior is as you would expect for a dictionary when the new label is not in the current index, however, if the label is already in the current index you will overwrite a value:

In [ ]:
q = pd.Series(range(3))

# This is BAD, new array initialization at every iteration!
for i in range(4,10):
    q[i] = i
print(q)
q[0] = 100
print(q)

In this example, we are adding a new label/value pair every iteration of the `for` loop. This works as expected, however, it reinitialized the underlying numpy array every time we add a value, which is not very efficient. When we assign a value to a label that already exists (`q[0]=100`) <i>it overwrites the existing value, it does not duplicate the label and add a new value.</i> This is expected behavior, since overwriting values in place is usually what we would want to do, but it highlights that you need to be careful if you are using this method to add new values but instead accidentaly overwrite an existing one. 

<b>Dropping Elements:</b> Dropping elements from an existing series utilizes the `.drop()` method, which accepts a list of labels; the `.pop()` method, which accepts a label; or the `del series[label]` keyword for deleting individual labels. `.drop()` is the most flexible since multiple entries can be removed at once:

In [ ]:
q = pd.Series(range(3),index=["a","b","c"])
print(q.drop("a"))
print(q.drop(["c","a"]))
q.pop("c")
print(q)
del q["b"]
print(q)

### Series Methods
Pandas comes with <b>a lot</b> of methods for series. I usually find it useful when I am working with a new class to go through <b>all</b> of its methods, investigate their behavior, read their docs, and write my own examples for their basic usage. At the end of this notebook you will find the result of my own effort. It can serve as a reference for you, but I encourage you to do this yourself. This activity will help you learn the logic behind the class, understand what the developers intended the class for, develop an intuition for how the class works, and its common method arguments. 

Here we will just cover a few of the common methods for <b>basic statistics</b>, <b>transforming series</b>, and <b>searching series</b>. If you are going in order, we've already seen two (`series.concat()` and `series.sort_index()`) so let's quickly review those before we discuss these others:

In [ ]:
r = pd.Series(range(3))
r = pd.concat([r, r])
print("after concat:\n{}".format(r))
r = r.sort_index()
print("\nafter sort_index:\n{}".format(r))

<b>`concat([series1, series2])`</b> returns a new series with `series2` added to the end of `series1`. It is a common method for adding data to series in a single step.

<b>`series.sort_index()`</b> returns a new series with the index sorted by the labels. The corresponding values come along with their labels as they are ordered. 

In general, series methods return a new series. Many of the methods have an `inplace` argument that can be toggled to modify the existing series, but this is not typically the default behavior. Series methods are also designated in lowercase.

<b>Statistical Methods:</b> Given that pandas was developed for spreadsheet like data, it isn't surprising that there are a lot of methods pertaining to calculating statistical quantities of series. These include the sample variance, standard deviation, mean, and quantiles:

In [ ]:
s = pd.Series(range(5))
print("s.mean(): {}".format(s.mean()))
print("s.std(): {}".format(s.std()))
print("s.var(): {}".format(s.var()))
print("s.median(): {}".format(s.median()))
print("s.min(): {}".format(s.min()))
print("s.max(): {}".format(s.max()))
print("s.quantile([0.25,0.5,0.75]):\n{}".format(s.quantile([0.25,0.5,0.75])))
print("s.describe():\n{}".format(s.describe()))

Where relevant these methods accept an optional degrees of freedom argument (`ddof`) which defaults to the Bessel correction. The `quantile` method accepts a list of single value, for cases where no value lies on the specified quantile the `interpolation` argument governs behavior.

<b>Transformation Methods:</b> several series methods are related to applying a function to the values of the series or groups of values. Some common methods are `series.apply()`, `series.rolling()`, `series.groupby()`, `series.where()`, `series.mask()`:

In [ ]:
t = pd.Series([10.1,18.9,21.2,7.5,8.1,6.8],index=["dog_1","dog_2","dog_3","cat_1","cat_2","cat_3"])

# Example 1: cos is applied to each value
print("Example 1:\n{}\n".format(t.apply(np.cos)))

# Example 2: + 10 is applied to each value
print("Example 2:\n{}\n".format(t.apply(lambda x:x + 10)))

# Example 3: mean is applied to a rolling window
#            of every 2 values
print("Example 3:\n{}\n".format(t.rolling(2).mean()))

# Example 4: mean is applied to a rolling window
#            of every 4 values
print("Example 4:\n{}\n".format(t.rolling(4).mean()))

# Example 5: mean() is applied to dogs and cats
print("Example 5:\n{}\n".format(t.groupby(lambda x: x.split('_')[0]).mean()))

# Example 6: mean() is applied to the first, second,
#            and third animals in each class
print("Example 6:\n{}\n".format(t.groupby(lambda x: x.split('_')[1]).mean()))

# Example 7: using where to replace values where the
#            condition is False
print("Example 7:\n{}\n".format(t.where(t>10,t/10)))

# Example 8: using mask to replace values where the
#            condition is True
print("Example 8:\n{}\n".format(t.mask(t>10,np.exp(t))))

<b>-Example 1:</b> `np.cos()` is applied to each value. When used in `series.apply()` the function must exist in the name space and be supplied without parentheses.

<b>-Example 2:</b> ten is added to each value. Here we use an anonymous function (`lambda x: x+10` is similar to `def function(x): return x+10`). 
    
<b>-Example 3:</b> The `series.rolling(period)` method returns an object that operates on a rolling window specified by `period`. The returned object possesses similar methods to series (e.g., `mean()`).

<b>-Example 4:</b> `series.rolling(4)` operates on a larger window. In this case the first three values are `NaN` because a full backward window does not exist until the fourth position.

<b>-Example 5:</b> `series.groupby()` has several possible input arguments. The simplest is to supply an anonymous function that operates on the labels. At the end of the operation, any identical labels are grouped together. In this case, all dogs and cats are combined then the average of their respective weights is calculated. 

<b>-Example 6:</b> In this case the anonymous function is modified to return the example number. This results in groups according to `1`, `2`, and `3` and the average weights are calculated for these groups. 

<b>-Example 7:</b> `series.where(condition,fill_value)` returns a new series with `NaN` values where the `condition` is `False`. Optionally, a `fill_value` or function can be supplied to modify the values for which the `condition` is `False` (i.e., `t/10` in this case).

<b>-Example 8:</b> `series.mask(condition,fill_value)` returns a new series with `NaN` values where the `condition` is `True`. Optionally, a `fill_value` or function can be supplied to modify the values for which the `condition` is `True` (i.e., `np.exp(t)` in this case).

<b>Searching Series:</b> You will often want to return only certain values from a series based on either label, position, or value, that slicing alone cannot achieve. The relevant methods for searching operations are `series.filter()`, `series.truncate()`, `series.nlargest()`,`series.nsmallest()`,`series.idxmax()`, and `series.idxmin()`:

In [ ]:
t = pd.Series([10.1,18.9,21.2,7.5,8.1,6.8],index=["dog_1","dog_2","dog_3","cat_1","cat_2","cat_3"])
u = pd.Series(range(5))

# Example 1: using filter to return specific labels
print(t.filter(items=["dog_1","cat_2"]))

# Example 2: using filter to return labels that 
#            contain a string
print(t.filter(like="cat"))

# Example 3: using truncate on ordered index
print(u.truncate(3,4))

# Example 4: returing the n largest values
print(t.nlargest(3))

# Example 5: returning the n smallest values
print(t.nsmallest(3))

# Example 6: returning the label of the maximum value
print(t.idxmax())

# Example 7: returning the label of the minimum value
print(t.idxmin())

<b>-Example 1:</b> `series.filter` is used to return the values corresponding to the indicated labels. When used in `items` mode, the result is the same as slicing with the list of labels. 

<b>-Example 2:</b> `series.filter` is used to return the labels that contain the indicated string. When used in `like` mode, the result is based on a substring match. 
    
<b>-Example 3:</b> `series.truncate(before,after)` returns a new series from label `before` to label `after` (inclusive). If only `before` or `after` is supplied then a one-sided truncation is performed. 

<b>-Example 4:</b> `series.nlargest(n)` returns the `n` largest values. 

<b>-Example 5:</b> `series.nsmallest(n)` returns the `n` smallest values. 

<b>-Example 6:</b> `series.idxmax()` returns the label of the largest value.

<b>-Example 7:</b> `series.idxmin()` returns the label of the smallest value.

This just scratches the surface of the methods belonging to series and their arguments. You will learn as you go.

## Pandas Dataframes
Pandas <b>dataframes</b> are similar to <b>series</b> except that they are two dimensional and hold a <b>header</b> for each column. You can think of dataframes as being analogous to tabular data, where you have distinct features in each column. At the implementation level, you can think of dataframes as combining multiple <b>series</b> into a single object with a shared <b>index</b>. Specifically, "you can think of dataframes as a dictionary of series" according to pandas docs. Thus, dataframes share many of the attributes and methods of series, except that they have specialized arguments for negotiating which columns to apply things to.

### Initializing Dataframes
 Initializing a pandas dataframe is as simple as passing a list to the `DataFrame()` constructor:

In [ ]:
import pandas as pd
import numpy as np
h = pd.DataFrame(range(5))
print(h)

Similar to series, you can see that the dataframes are initialized with an integer <b>index</b>. However, dataframes also have an additional `0` over the top of the column. This is the column <b>label</b> (sometimes we will call it a <b>header</b> to distinguish between column labels and row labels). Like the index, it can be customized:

In [ ]:
b = pd.DataFrame(range(5), columns = [ "c1" ])
print(b)

The `columns` argument acts similar to the `index` argument. The former must match the number of rows in length, and the latter must match the number of columns. Notice that the dataframe constructor interpreted the list as a column spanning rows, not a row spanning columns. A list-of-lists is interpreted as "list of rows", for instance:

In [ ]:
c = pd.DataFrame([range(5),range(5)])
print(c)

If you were just initializing large chunks of numbers in this fashion passing a numpy array might be more natural:

In [ ]:
d = pd.DataFrame(np.zeros([2,6]))
print(d)

You can pass multiple columns and their headers all at once via dictionary:

In [ ]:
e = pd.DataFrame({"c0":[0,3],"c1":[1,4],"c2":[2,5]},index=["r0","r1"])
print(e)

Dataframes are inherently 2D and column-centric. This is consistent with their design for handling tabular data. In a tabular format, like excel, columns typically hold independent data types (e.g., temperature, concentrations, yield, impurity, etc.) that might logically require distinct headers. This is the rationale behind the behavior of initialization with dictionaries, whereby keys are headers and values are the columns. This rational also governs other methods that we'll encounter.

<b>Renaming Labels</b>: The index and columns are both attributes of the dataframe (`dataframe.index` and `dataframe.columns`, respectively) that can be set manually

In [ ]:
e = pd.DataFrame({"c0":[0,3],"c1":[1,4],"c2":[2,5]},index=["r0","r1"])
e.index = ["trial_1","trial_2"]
e.columns = ["ease","use","quality"]
print(e)

<b>Initializing from File:</b> Pandas supports importing data from a large variety of file types, including excel, delimited text files, and JSON, among many others. Initializing dataframes from files is more common than the direct initializations described above. The associated `pd.` functions are:

- `read_csv(file,index_col=None,sep=',',header=0)` can be used to initialize a dataframe from a comma delimited file. The `index_col` can be optionally assigned to use one of the columns as an index for the dataframe. The `sep` argument can be used to read space-delimited or arbitrarily delimited files. The `header` argument can be used to select the line used for defining the header names

- `read_excel(file,sheetname=0,header=0,index_col=None)` can be used to initialize a dataframe from an excel spreadsheet. The `sheetname` argument can be used to read a particular sheet from a multisheet spreadsheet (0-indexed, or you can supply the name directly). If you supply a list to `sheetname` then a dictionary is returned, with keys corresponding to the sheet names and values corresponding to the individual dataframes. The `header` and `index_col` arguments have similar behavior to `read_csv`. 

Example of typical usage:

In [ ]:
f = pd.read_csv('impurities.txt',sep=r"\s+",index_col=0)
f # only works in notebooks

<b>Note</b>: `sep=" "` only uses a single white-space as a delimiter, whereas the `sep=r"\s+"` is recommended usage for using contiguous spaces as a delimiter.

<b>Note</b>: dataframes have a built-in method for displaying excel like tables when you call them as a stand-alone command (`f` above).

Each of the corresponding methods for reading dataframes from files is extremely flexible and has many more options, including for things like adding your own column names, only parsing subsets of columns and/or rows, and skipping lines at the beginning or end of the file. See the panda docs for more information.

### Dataframe Up-casting Behavior
Dataframes exhibit similar up-casting behavior to series, except that up-casting is applied on a <i>column by column<i> basis:

In [ ]:
g = pd.DataFrame([[1,2+5J],[100.0,"100"]])
print(g)
print("\ntypes:\n{}".format(g.dtypes))

Here, the `.dtypes` method of dataframes has been used to print out the type of each column. In column 0, all of the data is numeric, so it is upcast to floats. In column 1, the data is mixed so each type is retained.

You can also use the `dtypes` argument in the constructor to attempt to force casting (if the casting can't be performed it will revert to retaining objects). The `dataframe.astype()` method is also useful for converting types by column or for converting the whole dataframe.

### Dataframe Slicing
If you use `[]` notation label-based slicing is interpreted in "row-label" fashion. If you utilize integers it is interpreted in "row-position" fashion. If you utilize `[]` notation with a single column label then the corresponding column is returned as series. We'll briefly review these here for completeness, but the subsequent `iloc` and `loc` methods are more common for slicing dataframes:

In [ ]:
h = pd.DataFrame({"c0":[0,3,6],"c1":[1,4,7],"c2":[2,5,8]},index=["r0","r1","r2"])

# Example 1: slice rows by position
print("h[0:2]:\n{}\n".format(h[0:2]))

# Example 2: return every other row
print("h[::2]:\n{}\n".format(h[::2]))

# Example 3: return two rows
print("h['r1':'r2']:\n{}\n".format(h['r1':'r2']))

# Example 4: return a column as a series
print("h['c1']:\n{}\n".format(h['c1']))

# Example 5: return part of a column
print("h['c1'][:1]:\n{}\n".format(h['c1'][1:]))

<b>-Example 1:</b> integer based slicing is interpreted in row position-based fashion. 

<b>-Example 2:</b> stride is supported for row-based slicing
    
<b>-Example 3:</b> row label-based slicing is end-inclusive (similar to series).

<b>-Example 4:</b> `dataframe[columnlabel]` returns the corresponding column as a series.

<b>-Example 4:</b> The `['c1']` returns a series that is then sliced by position `[:1]`.

<b>iloc and loc Methods:</b> For dataframes it is more common to utilize `dataframe.iloc[row_slice,column_slice]` and `dataframe.loc[row_slice,column_slice]` for postition-based and label-based slicing, respectively. `.iloc` behaves similarly to numpy array slicing (end exclusive), while `.loc` provides access to label based slicing (end inclusive):

In [ ]:
h = pd.DataFrame({"c0":[0,3,6],"c1":[1,4,7],"c2":[2,5,8]},index=["r0","r1","r2"])

# Example 1: location based slicing (row,col)
print("h.iloc[0:2,0:2]:\n{}\n".format(h.iloc[0:2,0:2]))

# Example 2: label based slicing (row,col)
print("h.loc['r1':'r2']['c2']:\n{}\n".format(h.loc['r1':'r2']['c2'])) # h.loc['r1':'r2','c2'] slices same

# Example 3: list-based iloc
print("h.iloc[[1,0],[2,0]]:\n{}\n".format(h.iloc[[1,0],[2,0]]))

# Example 4: list-based loc
print("h.loc[['r2','r0','r1'],['c1','c0']]:\n{}\n".format(h.loc[['r2','r0','r1'],['c1','c0']]))

<b>-Example 1:</b> `iloc[row_slice,col_slice]` behaves similar to slicing with numpy arrays. 

<b>-Example 2:</b> `loc[row_slice,col_slice]` is end-inclusive.
    
<b>-Example 3:</b> lists of positions can be supplied to `iloc` to return rows and/or columns (<b>not items</b>) in a given order.

<b>-Example 4:</b> lists of labels can be supplied to `loc` to return rows and/or columns (<b>not items</b>) in a given order.

<b>Conditional Slicing:</b> Conditional slicing on dataframes results in a returned series that has all `False` values masked as `NaN` values. You can chain conditions as with series:

In [ ]:
h = pd.DataFrame({"c0":[0,3,6],"c1":[1,4,7],"c2":[2,5,8]},index=["r0","r1","r2"])

# Example 1: conditional slicing on dataframe
print("h>4:\n{}".format(h>4))
print("\nh[h>4]:\n{}".format(h[h>4]))

# Example 2: chained conditional slicing
print("\nh[h>4][h<7]:\n{}".format(h[h>4][h<7]))

# Example 3: conditional slicing on specific columns
print("\nh['c2']>3:\n{}".format(h['c2']>3))
print("\nh[h['c2']>3]:\n{}".format(h[h['c2']>3]))

# Example 4: conditional slicing with "not" (~)
print("\n~h['c2']>3:\n{}".format(~(h['c2']>3)))
print("\nh[~(h['c2']>3)]:\n{}".format(h[~(h['c2']>3)]))

<b>-Example 1:</b> conditional slicing returns a dataframe of the same size but with the `False` values masked by `NaN`. Dataframes accept boolean arrays of the same shape as masks for current values. 

<b>-Example 2:</b> multiple conditions can be combined through chaining.

<b>-Example 3:</b> conditional slicing on specific columns can be used to only return rows where the condition is met. 

<b>-Example 4:</b> the tilde (`~`) is the logical 'not' (i.e., reverses all `False` and `True` conditions). This can be used to return the rows where something is 'not` True.

### Dataframe Operator Behavior
By default operators align on column and row labels.

In [ ]:
i = pd.DataFrame(np.arange(9).reshape([3,3]),index=["r0","r1","r2"],columns=["c0","c1","c2"])
j = pd.DataFrame(np.arange(9).reshape([3,3])[::-1][:,::-1],index=["r2","r1","r0"],columns=["c2","c1","c0"])
k = pd.DataFrame(np.arange(9).reshape([3,3]),index=["r0","r1","r2"],columns=["c0","c0","c0"])
l = pd.DataFrame(np.arange(9).reshape([3,3]),index=["r0","r0","r0"],columns=["c0","c1","c2"])
m = pd.DataFrame(np.arange(9).reshape([3,3]),index=["r1","r1","r1"],columns=["c0","c0","c0"])

print("i:\n{}\n".format(i))
print("j:\n{}\n".format(j))
print("k:\n{}\n".format(k))
print("l:\n{}\n".format(l))
print("m:\n{}\n".format(m))

# Example 1: label matched operator application
print("i+i:\n{}\n".format(i+i))

# Example 2: labels match on both rows and columns
print("i+j:\n{}\n".format(i+j))

# Example 3: repeated columns (OLD: c0 from i is added to all c0 from k)
# print("\ni+k:\n{}".format(i+k))  # gives error

# Example 4: repeated rows (OLD: r0 from i is added to all r0 from l)
#print("\ni+l:\n{}".format(i+l))  # gives error

# Example 5: repeated rows and columns (OLD: only r1,c1 from i is added)
#print("\ni+m:\n{}".format(i+m)) # gives error

# Example 6: adding dataframes with both repeated labels
print("\nm+m:\n{}".format(m+m))

# Example 7: adding dataframes with semi-repeated labels
print("\nm+k:\n{}".format(m+k))

<b>-Example 1:</b> Where there are overlapping lables in both columns and rows, operators align on labels.

<b>-Example 2:</b> Same result as in example 1 due to label alignment.

<b>-Example 3:</b> The `c0` column from `i` is added to all of the `c0` columns in `k`. Non-overlapping labels result in `NaN`.

<b>-Example 4:</b> The `r0` row from `i` is added to all of the `r0` rows in `l`. Non-overlapping labels result in `NaN`.

<b>-Example 5:</b> The `r1` `c1` element from `i` (i.e., 3) is added to all elements of `m` due to label matching. Non-overlapping labels result in `NaN`.

<b>-Example 6:</b> When two dataframes with repeated column and row labels are added the operation is element-by-element (same result as example 1).

<b>-Example 7:</b> `k` has repeated columns but not repeated rows. The operator is applied element-by-element for columns but label matched for rows. 

All numerical operators act according to the same logic. Logical operators require identical row/column labeling (repeated labels are allowed, but must be identical).

Lastly, when you apply operators to dataframes and individual objects (scalars and strings) it is applied to every element of the dataframe. If an array with length equal to the number of columns is given, then it is applied row-by-row:

In [ ]:
o = pd.DataFrame(np.arange(6).reshape([2,3]))

# Example 1: a scalar applied to a dataframe
print("Example 1:\n{}\n".format(o+10))

# Example 2: a row applied to a dataframe
print("Example 2:\n{}\n".format(o+np.array([2,3,4])))

### Adding and Dropping Elements
As for series, dataframes are stored internally as numpy arrays, so when you add or drop elements from them a whole new array is created internally. You should strive to make large changes to your dataframe all at once. 

<b>Adding columns:</b> You can add additional columns to  dataframes using `dataframe[header] = column` notation (similar to a dictionary). Columns inserted in this way are placed at the end. The `.insert(pos,name,column_content)` method can be used to insert a column into any position. Similarly, the `.assign(header_1=content_1,header_2=content_2, ...)` method returns a new dataframe with the added columns:

In [ ]:
p = pd.DataFrame({"Temperature_K":[300,310,320],"Yield":[56.2,64.3,60.9]})
print("p:\n{}".format(p))

# Example 1: dictionary-like method
p["Facility"] = ["Lexington","Lafayette","Lafayette"]
print("\nafter add:\n{}".format(p))

# Example 2: insert method
p.insert(1,"Pressure",[1.0,10.0,100.0])
print("\nafter p.insert():\n{}".format(p))

# Example 3: assign method
p = p.assign(Batch=[45332,45332,45332],Temperature_C=p["Temperature_K"]-273.15)
print("\nafter p.assign():\n{}".format(p))

<b>Adding Rows</b>: Similar to series you can add rows to dataframes using the `concat()` method. As usual with Pandas objects, it is best to do this all at once to be memory efficient. In this case, it would mean appending a dataframe to an existing dataframe rather than row by row:

In [ ]:
p = pd.DataFrame({"Temperature_K":[300,310,320],"Yield":[56.2,64.3,60.9]})
q = pd.DataFrame({"Yield":[56.2,64.3,60.9],"Temperature_K":[300,310,320]})
r = pd.DataFrame({"Temperature_K":[300,310,320],"Conc":[0.1,0.1,0.1]})
# Example 1: concat with sort
print("Example 1:\n{}".format(pd.concat([p, q], sort=True)))

# Example 2: concat with sort
print("\nExample 2:\n{}".format(pd.concat([p, r], sort=True)))

<b>-Example 1:</b> The second dataframe is put beneath the first, aligned by column labels. 

<b>-Example 2:</b> The second dataframe is aligned by column label where they intersect, and new columns are created where they do not with `NaN` in the corresponding positions. 

<b>Combining Multiple Dataframes:</b> If you want to combine multiple dataframes the `concat([list_of_df],axis=0)` function can be used. This aligns on columns labels and stitches the dataframes together. The optional argument `axis` puts the dataframes side by side when it is `1` and stacks them on top of each other when it is `0`:

In [ ]:
p = pd.DataFrame({"Temperature_K":[300,310,320],"Yield":[56.2,64.3,60.9]})
q = pd.DataFrame({"Yield":[56.2,64.3,60.9],"Temperature_K":[300,310,320]})
r = pd.DataFrame({"Temperature_K":[300,310,320],"Conc":[0.1,0.1,0.1]})
print("Example 1:\n{}".format(pd.concat([p,q],axis=0,sort=False)))
print("\nExample 2:\n{}".format(pd.concat([p,q],axis=1,sort=False)))
print("\nExample 3:\n{}".format(pd.concat([p,q,r],axis=0,sort=False)))

In a case like this where there are common headers with partially overlapping labels it is more common that you would want to `merge` the dataframes on their common lables. The `pd.merge(df1,df2)` function supplies this functionality:

In [ ]:
p = pd.DataFrame({"Temperature_K":[300,310,320],"Yield":[56.2,64.3,60.9]})
q = pd.DataFrame({"Yield":[56.2,64.3,100],"Temperature_K":[300,310,320]})
r = pd.DataFrame({"Temperature_K":[300,310,320],"Conc":[0.1,0.1,0.1]})
merged = pd.merge(p,q)
merged = pd.merge(merged,r)
print("Example 1 (merged):\n{}".format(merged))

Here the result combines on the common labels in both the rows and columns. During the first merge a value difference is observed in `"Yield"` and this row is dropped. This behavior can be modified with `left_on` and `right_on` arguments. Merge has many additional arguments and capabilities, but if you are consistent with your labels, you can get a lot of milage out of the basic usage.

<b>Row by Row Addition (not recommended):</b> You can add series to dataframes as rows using the `concat()` method, but in this case the series labels are interpreted as columns for the concat:

In [ ]:
p = pd.DataFrame({"Temperature_K":[300,310,320],"Yield":[56.2,64.3,60.9]})
print("p:\n{}".format(p))
q = pd.Series([330.0,58.7],index=["Temperature_K","Yield"])
# Example: concat with ignore_index
print("\nafter concat:\n{}".format(pd.concat([p, q], ignore_index=True)))

We have to use `ignore_labels=True` because there is no row label for the series once it is turned on its side. You can supply the label using the `series.name` attribute (which we didn't discuss above, because it governs the series label upon addition to a dataframe):

In [ ]:
p = pd.DataFrame({"Temperature_K":[300,310,320],"Yield":[56.2,64.3,60.9]})
print("p:\n{}".format(p))
q = pd.Series([330.0,58.7],name=100,index=["Temperature_K","Yield"])
print("\nafter.concat():\n{}".format(pd.concat([p, q])))

### Dataframe Methods
Dataframes share many of the same methods as Series, but since they are two dimensional they typical offer control over whether you apply methods to row or columns of a dataframe. In this respect, a common method argument that you will see is `axis` which by default is `0`. When present, this argument controls whether the method acts across rows `axis=0` or columns `axis=1`. For example:

In [ ]:
df = pd.DataFrame({"c1":[1,2],"c2":[3,4],"c3":[5,6]},index=["r1","r2"])
print("df:\n{}".format(df))
print("\ndf.mean(axis=0):\n{}".format(df.mean(axis=0)))
print("\ndf.mean(axis=1):\n{}".format(df.mean(axis=1)))

#### Filter Methods
Finding and analyzing subsets of dataframes is an extremely common activity generally called "filtering". Filtering is an area where Pandas shines. At the center of this functionality is the `groupby` method, the `df[column].str.` methods and conditional slicing, which we covered above but will revisit here. In combination, these methods allow you to easily view and/or modify subsets of larger dataframes. Here is a typical example of how `groupby` is useful:

In [ ]:
df = pd.read_csv("plant_data.txt",index_col=0)

print("data:\n{}".format(df))

# Example 1: group by column
groups = df.groupby("plant") # creates a pandas groupby object
print("\nplant means:\n{}".format(groups.mean()))
  
# Example 2: iterating over groups
for name,group in groups:
  print("\nplant: {}\n{}".format(name,group))

# Example 3: grab an individual group
print("\nhouston data:\n{}".format(groups.get_group("houston")))

The dataframe we are working with has data for specific plants over several years. It is typical that we might want to process this data by year and/or by plant depending on our needs.

<b>Example 1:</b> averages are calculated over all years of each plant by using the `groupby('plant')` method then the `mean()` method on each group.

<b>Example 2:</b> The object returned by the `groupby()` supports iteration over the group names and their dataframes. 

<b>Example 3:</b> The object returned by the `groupby()` method also has methods for accessing specific groups (e.g., `.get_group()`) and other operations (see docs for additional details).

For columns with string-values the `df[column].str` methods `str.startswith()`, `str.endswith()`, and `str.contains()` allow you to filter the dataframe by these conditions.

In [ ]:
df = pd.read_csv("plant_data.txt",index_col=0)

print("data:\n{}".format(df))
print("\ndf[df['plant'].str.startswith('l')]:\n{}".format(df[df['plant'].str.startswith('l')]))
print("\ndf[df['plant'].str.endswith('e')]:\n{}".format(df[df['plant'].str.endswith('e')]))
print("\ndf[df['plant'].str.contains('ton')]:\n{}".format(df[df['plant'].str.contains('ton')]))

Conditional slicing is useful for finding values/rows that meet a specified condition.

In [ ]:
df = pd.read_csv("plant_data.txt",index_col=0)

# Example 1: find the years that the houston plant kept
#            costs below 7m
print("Example 1:\n")
print(df[(df["plant"] == "houston") & (df["costs(100k)"] <70)])

# Example 2: find the years that the lafayette plant kept
#            costs below 7m and production above 60 tons
print("\nExample 2:\n")
print(df[(df["plant"] == "lafayette") & (df["costs(100k)"] < 70) & (df["yield(tons)"] > 60)])

In these cases we have utilized the `&` operator to join the results of multiple logical operations. These expressions look formidable at first but after you get used to it conditional slicing provides you with the ability to perform  arbitrarily complex queries of your dataframe.

#### Sorting Methods
After merging and combining dataframes you might want to sort the dataframes based on the values of a column or columns. The relevant method is `dataframe.sort_values(column_label,ascending=True)`, where `column_label` is a single column label and the `ascending` argument determines the ordering. You can also supply a list of column labels and optionally a list of booleans to `ascending` in which case the columns after the first are used to break ties according to the optional booleans in the `ascending` argument:

In [ ]:
df = pd.read_csv("plant_data.txt",index_col=0)

# Example 1: Sort based on year
print("Example 1 (sort based on year):\n")
print(df.sort_values('year'))

# Example 2: Sort based on year then yield
print("\nExample 2 (sort based on year and yield):\n")
print(df.sort_values(['year','yield(tons)'],ascending=[True,False]))

#### Missing Values
Often times you will work with datasets that are incomplete, have corrupted values, or are with values that are removed because you've identified them as outliers. Dataframes come with several built-in methods that are relevant for identifying (`.isna()`, `.notna()`) these values and dropping rows involving them them (`.dropna(how='any')`).

First let's replace some values random `NaN` values in the  plant dataset.

In [ ]:
np.random.seed(14252) # for reproducibility

df = pd.read_csv("plant_data.txt",index_col=0)
del_ind = np.array([np.random.randint(0,len(df.index),size=10),\
                    np.random.randint(0,len(df.columns),size=10)]).T

# replace random elements as NaN
for i in del_ind:
  df.iloc[i[0],i[1]] = np.NaN

# replace a whole row with NaN
df.iloc[6,:] = [np.NaN]*4
print(df)

We'll use the dataset generated in the last box as an example for demonstrating the use of methods for finding missing values:

In [ ]:
print("data:\n{}".format(df))

# Example 1: Find missing rows in a column
print("\nisna() result:\n{}".format(df["year"].isna()))
print("\ndf[df['year'].isna()]):\n{}".format(df[df["year"].isna()]))

# Example 2: Find valid rows in a column
print("\ndf[df['year'].notna()]):\n{}".format(df[df["year"].notna()]))

# Example 3: drop rows with at least one NaN
print("\ndf.dropna():\n{}".format(df.dropna()))

# Example 4: Drop rows where all values are missing
print("\ndf.dropna(how='all'):\n{}".format(df.dropna(how='all')))

<b>-Example 1:</b> The `.isna()` method returns a series of booleans with `True` at the locations of `NaN` values. When the result of `.isna()` is used as an index for slicing a dataframe, the rows with `NaN` values are returned.

<b>-Example 2:</b> The `.notna()` method functions as the complement to `.isnan()`

<b>-Example 3:</b> The `.dropna()` method returns a dataframe containing all rows with no `NaN` values in any column.

<b>-Example 4:</b> When called with the `how="all"` argument, the `.dropna()` method will only drop rows in which all values are `NaN`. In the current example, only one of the rows satisfies this criteria.

In the case that we want to replace missing values the relevant methods are `.fillna()`, `.replace()`, and `.interpolate()`:

In [ ]:
print("data:\n{}".format(df))

# Fill missing values
print("\ndf.fillna(0.0):\n{}\n".format(df.fillna(0.0)))

# Replace missing values
print("\ndf.replace(np.NaN,value=0.0):\n{}".format(df.replace(np.NaN,value=0.0)))

# Interpolate missing values (not sensible in this example)
print("\ndf.interpolate():\n{}".format(df.interpolate()))

<b>-Example 1:</b> The `.fillna()` method accepts a replacement value and returns a filled dataframe.

<b>-Example 2:</b> The `.replace()` method can be used to replace arbitrary values (including `NaN`).

<b>-Example 3:</b> The `.interpolate()` method can be used to replace numeric `NaN` values. For time-series ordered data this is useful, but in the current example there is no basis for interpolation. 

When calculating statistical quantities, pandas automatically disregards `NaN` values:

In [ ]:
# Describe on dataframe with NaN values
print(df['yield(tons)'].describe())

# Describe on dataframe with dropped NaN values
print(df['yield(tons)'].dropna().describe())

## Summary of Series Methods
Here is an appendix showing basic the usage of most series methods. Many of these methods have the optional argument `inplace=True` which will change the attributes of the existing series, rather than returning a new series. Most of these methods are shared with the dataframe class; however, the corresponding dataframe methods would be called with an optional `columns` argument or on the column itself `dataframe[column].method()`.

### Series.abs()
returns a new series with the absolute values of each entry (index is retained):

In [ ]:
a = pd.Series(range(-1,5))
b = a.abs()
print("\na:\n{}".format(a))
print("\nb:\n{}".format(b))

### Series.add()
Adds two series. `a.add(b)` is equivalent to `a+b`, but can also address missing values via the `fill_value` argument:

In [ ]:
a = pd.Series(range(-1,5))
b = pd.Series(range(-1,4))
print(a.add(b)) #add with NaN result @ position 5
print(a.add(b,fill_value=0)) #add with 0+4 @ position 5

### Series.add_prefix()
The `add_prefix("prefix")` method returns a new series with the same values but with a prefix added to the existing index:

In [ ]:
a = pd.Series(range(-1,5))
b = a.add_prefix("r")
print(a) #unchanged
print(b) #same as a but with prefix

### Series.add_suffix()
The `add_suffix("suffix")` method returns a new series with the same values but with a suffix added to the existing index:

In [ ]:
a = pd.Series(range(-1,5))
b = a.add_suffix("r")
print(a) #unchanged
print(b) #same as a but with suffix

### Series.agg()
The `Series.agg(function)` method returns a new series with the supplied function applied to each value. A built-in pandas function can be supplied as `function` (without the parentheses) or an anonymous function can be used:

In [ ]:
import numpy as np
a = pd.Series(range(-1,5))
b = a.agg(np.abs)
c = a.agg(lambda x: x/10.0)
print(a)
print(b)
print(c)

### Series.align()
The `series1.align(series2)` method returns a new series with the values and labels of `series1` ordered by the labels of `series2`:

In [ ]:
a = pd.Series(range(-1,5))
b = pd.Series(range(-1,4))
b.index = b.index[::-1]
a_o,b_o = a.align(b,join="outer") # align on all labels (Default)
a_i,b_i = a.align(b,join="inner") # align only on labels in both
a_r,b_r = a.align(b,join="right") # align on b labels
a_l,b_l = a.align(b,join="left") # align on a labels
print("\na_o:\n{}".format(a_o))
print("\nb_o:\n{}".format(b_o))
print("\na_r:\n{}".format(a_r))
print("\nb_r:\n{}".format(b_r))
print("\na_l:\n{}".format(a_l))
print("\nb_l:\n{}".format(b_l))
print("\na_i:\n{}".format(a_i))
print("\nb_i:\n{}".format(b_i))

### Series.all()
Returns `True` if there are no elements in the series that evaluate to `False` (i.e., `False`, `0`, or empty series):

In [ ]:
a = pd.Series([True]*5)
b = pd.Series([True]*5)
b[3] = False
print("a.all(): {}".format(a.all()))
print("b.all(): {}".format(b.all()))

### Series.any()
Returns True if there are any elements in the series that evaluate to `True` (i.e., `True`, or non-zero):

In [ ]:
a = pd.Series([False]*5)
b = pd.Series([False]*5)
b[3] = 10
print("a.any(): {}".format(a.any()))
print("b.any(): {}".format(b.any()))

### concat([series1, series2, ...])
The `concat([series1, series2, ...])` method returns a new series with the values and labels of `series2` appended to the end of `series1`:

In [ ]:
a = pd.Series(range(-1,5))
b = a.add_prefix("R")
c = pd.concat([a, b])
print(c)

### Series.apply()
The `series.apply(function)` method returns a new series with `function` applied to each element of `series`. If `function` is already defined, then supply it by name but without arguments, alternatively, you can supply a `lambda` function for more control:

In [ ]:
a = pd.Series(range(-1,5))
b = a.apply(abs)
c = a.apply(lambda x:x/100.0)
print(b)
print(c)

In [ ]:
a = pd.Series(range(-1,5))
a = a.add_suffix("r")
print(a.idxmax())

### Series.argsort()
`series1.argsort()` returns a series that holds the ordered list of labels that sorts `series1` (similar in spirit to numpy argsort behavior):

In [ ]:
a = pd.Series(range(-1,5)[::-1])
b = a.argsort()
print(a)
print(a[b])

### Series.asfreq()
This method can be used to return timeseries data at a new frequency. The argument `fill_value` can be used to assign missing values:

In [ ]:
index = pd.date_range('1/1/2020', periods=4, freq='T')
a = pd.Series([0.0, 1.0, 2.0, 3.0], index=index)
print("a:\n{}".format(a))
print("\na.asfreq(freq='30s'):\n{}".format(a.asfreq(freq='30S')))
print("\na.asfreq(freq='30s',fill_value=100.0):\n{}".format(a.asfreq(freq='30S',fill_value=100.0)))

### Series.asof()
The method `series.asof(time)` returns the first non-NaN value before or equal to the time `time`. Used to find the "value as of time XXX":

In [ ]:
index = pd.date_range('1/1/2020', periods=4, freq='D')
a = pd.Series([0.0, 1.0, 2.0, 3.0], index=index)
print(a)
print("\nvalue asof 2020-01-03: {}".format(a.asof('2020-01-03')))

### Series.astype()
This method returns a new series where the values are cast as the specified type:

In [ ]:
a = pd.Series(range(-1,5))
b = a.astype(float)
print("a:\n{}".format(a))
print("b:\n{}".format(b))

### Series.at_time()
Returns the value of a timeseries at a specific time:

In [ ]:
index = pd.date_range('1/1/2020', periods=4, freq='s')
a = pd.Series([0.0, 1.0, 2.0, 3.0], index=index)
print(a)
print("\nvalue at_time 2020-01-01 00:00:02: {}".format(a.at_time('00:00:02')))

### Series.autocorr()
The method `series.autocorr(lag)` returns the average autocorrelation between values separated by `lag` rows (default is `lag=1`):

In [ ]:
import pandas as pd
import numpy as np
a = pd.Series(range(1000))
b = pd.Series(np.random.rand(1000))
c = pd.Series(np.arange(1000) + (np.random.rand(1000)-0.5)*1000)
print(a.autocorr(1))
print(b.autocorr(1))
print(c.autocorr(1))

### Series.between()
The method `series1.between(start,end)` returns a new series with labels matched to `series1` and booleans corresponding to whether the value is between `start` and `end` (inclusive):

In [ ]:
a = pd.Series(range(-1,5))
a = a.add_prefix("r")
print(a.between(1,3))

### Series.between_time()
The method `series.between_time(start,end)` returns values in a time series with labels between the times `start` and `end`. If `end` is greater than `start` then the method returns the labels that <i>are not between</b> `start` and `end`:

In [ ]:
index = pd.date_range('1/1/2020', periods=72, freq='h')
a = pd.Series(np.random.rand(72), index=index)
print("\na.between_time('12:00','15:00'):\n{}".format(a.between_time('12:00','15:00')))
print("\na.between_time('23:00','5:00'):\n{}".format(a.between_time('23:10','5:00')))

### Series.fillna()
This method fills `NaN` values in a series based on the argument `value`:

In [ ]:
a = pd.Series(index=["1","2","3"])
print(a)
print(a.fillna(value=100))

### Series.clip()
The method `series1.clip(lower,upper)` returns the a new series indexed to `series1` but with the values "clipped" between `lower` and `upper`, meaning that any values less than `lower` will be set to `lower` and any values greater than `upper` will be set to `upper`. If either `lower` or `upper` is not specified, then no clipping will occur on that side:

In [ ]:
a = pd.Series((np.random.rand(30)-0.5)*20.0 + 55)
print(a)
print(a.clip(50,60))
print(a.clip(lower=50))
print(a.clip(upper=60))

### Series.combine()
The method `series1.combine(series2,function)` returns a new series with the `function` applies to the elements of both `series1` and `series2`. Can be a built-in function (called without parenthesis) or a lambda function:

In [ ]:
a = pd.Series((np.random.rand(10)-0.5)*20.0 + 80.0).add_prefix("catalyst_")
b = pd.Series((np.random.rand(10)-0.5)*20.0 + 80.0).add_prefix("catalyst_")
print(a)
print(b)
print(a.combine(b,max))
print(a.combine(b,lambda x,y: max([x,y]))) # same as lambda

### Series.combine_first()
The method `series1.combine_first(series2)` returns a new series with the values from `series1` where they are defined, otherwise using the values of `series2`:

In [ ]:
a = pd.Series(range(5))
a[2] = np.NaN
b = pd.Series(range(10))
print(a)
print(a.combine_first(b))

### Series.copy()
The method `series.copy(deep=True)` returns the a new series with index and values copied from the original. If `deep=True` (default) then the new object is completely independent of the old. If `deep=False`, then a "shallow" copy is made, and edits to the values of either the old or new series will affect one another:

In [ ]:
a = pd.Series(range(5))
b = a.copy(deep=False)
c = a.copy(deep=True) #default
a[3] = 1000
b[2] = -1000
print(a)
print(b)
print(c)

### Series.corr()
The method `series1.corr(series2)` returns the average correlation between values in the two series based on their labels. An optional `method` argument can be supplied to determine how the correlation factor is calculated (default: pearson):

In [ ]:
a = pd.Series(range(5))
b = pd.Series(range(5))
c = pd.Series(range(5))
c.index = c.index[::-1]
print(a.corr(b))
print(a.corr(c))

### Series.cov()
The method `series1.cov(series2)` returns the covariance between two series (excludes missing values):

In [ ]:
a = pd.Series(range(5))
b = pd.Series(range(5))
c = pd.Series(range(5))
c.index = c.index[::-1]
print(a.cov(b))
print(a.cov(c))

### Series.cummax()
The method `series.cummax()` returns a series with the same size but with the maximum value observed up to a given label replacing that label's value (`NaN` are ignored):

In [ ]:
a = pd.Series([1,-1,-2,3,4,-3,2])
print(a.cummax())

### Series.cummin()
The method `series.cummin()` returns a series with the same size but with the minimum value observed up to a given label replacing that label's value (`NaN` are ignored):

In [ ]:
a = pd.Series([1,-1,-2,3,4,-3,2])
print(a.cummin())

### Series.cumprod()
The method `series.cumprod()` returns a series with the same size but with the cumulative product up to a given label replacing that label's value (`NaN` are ignored):

In [ ]:
a = pd.Series([1,-1,-2,3,4,-3,2])
print(a.cumprod())

### Series.cumsum()
The method `series.cumsum()` returns a series with the same size but with the cumulative sum up to a given label replacing that label's value (`NaN` are ignored):

In [ ]:
a = pd.Series([1,-1,-2,3,4,-3,2])
print(a.cumsum())

### Series.describe()
The method `series.describe()` returns summary statistics about a series:

In [ ]:
a = pd.Series(range(5))
print(a.describe())

### Series.diff()
The method `series.diff(periods=1)` returns the difference in values (current - val_at_period) at the specified period (negative values are acceptable):

In [ ]:
a = pd.Series(range(5))
print(a.diff())
print(a.diff(-1))

### Series.dot()
This method performs a dot product between two series:

In [ ]:
a = pd.Series(range(5))
b = pd.Series(range(5)[::-1])
print(a.dot(a))
print(a.dot(b))

### Series.drop()
The method `series.drop(labels=[])` returns a new series with the specified labels dropped:

In [ ]:
a = pd.Series(range(5))
print(a.drop([1,2]))

### Series.drop_duplicates()
The method `series.drop_duplicates()` returns a new series with duplicate values removed:

In [ ]:
a = pd.Series([1,3,2,1,1,2,2])
print(a)
print(a.drop_duplicates())

### Series.dropna()
The method `series.dropna()` returns a new series with missing values removed:

In [ ]:
a = pd.Series([1,np.NaN,3,4])
print(a)
print(a.dropna())

### Series.duplicated()
The method `series.duplicated()` returns a new series with booleans indicating if a value is a duplicate (up to the point it is encountered in the index order):

In [ ]:
a = pd.Series([1,3,2,1,1,2,2])
print(a)
print(a.duplicated())

### Series.explode()
The method `series1.explode()` returns a new series with values that were list-like in series 1 expanded into their own rows:

In [ ]:
a = pd.Series([[1,2],[1,2],[1,2]])
print(a)
print(a.explode())

### Series.fillna()
The method `series.fillna(value,method=None)` returns a new series with missing values replaced by `value`. An optional `method` argument can be used to fill based on next (`bfill`) or previous (`ffill`) values:

In [ ]:
a = pd.Series([1,2,np.NaN,np.NaN,5])
print(a.fillna(1000))
print(a.fillna(method='bfill'))
print(a.fillna(method='ffill'))

### Series.filter()
The method `series.filter(items=[],like="",regex="")` returns a new series with labels that are in `items` or labels that contain the string in `like` or labels that evaluate to `True` against the `regex`:

In [ ]:
a = pd.Series(range(5))
a.index = ["reactor_1","reactor_2","day0","day1","day2"]
print(a.filter(items=["reactor_1","reactor_2"])) # same as slicing with list of labels
print(a.filter(like="day"))

### Series.groupby()
This method is used to generate groups of logically connected labels that you want to operate on. The method returns a groupby object that has information on the groups and can be used to calculate their statistics. Usage is `series.groupby(by=None)` where `by` can be a function or list that operates on each label for the purpose of assigning it to a group:

In [ ]:
a = pd.Series(range(6))
a.index = ["old_1","old_2","new_1","old_3","new_2","new_3"]
print(a.groupby(by=lambda x: x.split('_')[0]).mean())

### Series.idxmax()
This method returns the label corresponding to the maximum value:

In [ ]:
a = pd.Series(range(-1,5))
a = a.add_suffix("r")
print(a.idxmax())

### Series.idxmin()
This method returns the label corresponding to the minimum  value:

In [ ]:
a = pd.Series(range(-1,5))
a = a.add_suffix("r")
print(a.idxmin())

### Series.interpolate()
This method fills returns a new series with any missing values replaced using the specified interpolation method (indicated by the optional `method` argument):

In [ ]:
a = pd.Series([0,1,np.NaN,3,4,np.NaN,8])
print(a.interpolate(method='linear')) # default
print(a.interpolate(method='spline',order=3))

### Series.items()
This method creates an iterator for the series that returns the label and value at each iteration:

In [ ]:
a = pd.Series(range(5))
a = a.add_prefix("r")
for label,value in a.items():
  a[label] = value + 10
print(a)

### Series.kurtosis()
This method returns Fisher kurtosis (=0 for normal distribution) calculated across the series:

In [ ]:
a = pd.Series(np.random.normal(size=10000))
print(a)
print(a.kurtosis())

### Series.map()
The method `series.map(dict/function)` returns a new series where the supplied `dictionary` is used to replace the values corresponding to the keys with the values corresponding to the values (any value that don't have keys will be converted to `NaN`). If `function` is used it is applied to each value (similar to `series.apply()`):

In [ ]:
a = pd.Series(range(5))
print(a.map({1:1000,2:2000}))
print(a.map(lambda x: x+10))

### Series.mask()
The method `series.mask(condition)` returns a new series with `NaN` for values where `condition` is `False` (similar to `series.where()` which does the same for `True`):

In [ ]:
a = pd.Series(range(5))
print(a.mask(a>=3))
print(a.mask(a==3))

### Series.max()
This method returns the maximum value of a series (not the index):

In [ ]:
a = pd.Series(range(5))
a.add_prefix("r")
print(a.max())

### Series.mean()
This method returns the mean of a series:

In [ ]:
a = pd.Series(range(5))
print(a.mean())

### Series.median()
This method returns the median value of a series:

In [ ]:
a = pd.Series([2,1,1,1,10,10,10])
print(a.median())

### Series.min()
This method returns the minimum value of a series (not its index):

In [ ]:
a = pd.Series(range(5))
print(a.min())

### Series.mode()
This method returns the mode value of a series:

In [ ]:
a = pd.Series([2,1,1,1,10,10,10,10])
print(a.mode())

### Series.nlargest()
The method `series.nlargest(n=5)` returns a new series with the the `n` largest values of the series:

In [ ]:
a = pd.Series(range(10))
print(a.nlargest())
print(a.nlargest(2))

### Series.nsmallest()
The method `series.nsmallest(n=5)` returns a new series with the the `n` smallest values of the series:

In [ ]:
a = pd.Series(range(10)[::-1])
print(a.nsmallest())
print(a.nsmallest(2))

### Series.nunique()
This method returns the number of unique values in a series:

In [ ]:
a = pd.Series([1,1,1,2,1,1,10,10,7,10])
print(a.nunique())

### Series.pct_change()
The method `series.pct_change(periods=1)` returns the percentage change between values separated by the `periods` argument:

In [ ]:
a = pd.Series([10,9,4.5,1.125,4.5,9,10])
print(a.pct_change())

### Series.pop()
Analogous to `list.pop()` but for series. The method returns the popped value (not label):

In [ ]:
a = pd.Series(range(5))
a = a.add_prefix('r')
b = a.pop('r2')
print(a)
print(b)

### Series.quantile()
The method `series.quantile(value)` returns the quantile value corresponding to `value`, a list can be supplied to return several quantile values at once:

In [ ]:
a = pd.Series([1,1,4,7,7,7])
print(a.quantile(0.5))
print(a.quantile([0.1,0.25,0.5,0.75,0.9]))
print(a.quantile([0.1,0.25,0.5,0.75,0.9],interpolation='nearest'))

### Series.rank()
The method `series.rank(method='average')` returns a new series with the rank (by value) of each label. In the case of multiple values with the same label, the `method` argument determines what is reported:

In [ ]:
a = pd.Series([1,1,2,2,4],index=["t1","t2","t1","t3","t4"])
print(a.rank())
print(a.rank(method='first'))

### Series.reindex()
The method `series.reindex(index)` returns a new series with the specified index. Any new labels will be filled with `NaN` and any missing labels will be dropped:

In [ ]:
a = pd.Series(range(5))
print(a.reindex(range(5)[::-1]))
print(a.reindex(range(3,7)))

### Series.reindex_like()
The method `series1.reindex_like(series2)` returns a new series with an index matching `series2`:

In [ ]:
a = pd.Series(range(5))
b = pd.Series(range(5),index=range(5)[::-1])
print(a.reindex_like(b))

### Series.rename()
This method can be called three ways: `series.rename(string)` will assign the series attribute `name` to the string argument; `series.rename(dictionary)` will reassign the existing labels corresponding to the keys to the dictionary values; `series.rename(function)` will apply the function to the existing labels. All methods return a new series:

In [ ]:
a = pd.Series(range(5))
print(a.rename("my series"))
print(a.rename({1:"r1"}))
print(a.rename(lambda x: "r_{}".format(x)))

### Series.repeat()
The method `series.repeat(repeats)` returns a new series with each value repeated `repeats` times:

In [ ]:
a = pd.Series(range(5))
print(a.repeat(2))
print(a.repeat(5))

### Series.replace()
The method `series.replace(to_replace=v1,value=v2)` returns a new series with values equal to `v1` replaced by `v2`:

In [ ]:
a = pd.Series([1,1,2,2,3,3])
print(a.replace(2,20))

### Series.reset_index()
This method returns a new dataframe with the existing index converted to a column and the index reset to the default (can use optional arguments `inplace=True,drop=True` to reset the index of the existing series):

In [ ]:
a = pd.Series(range(5))
a.index = a.index[::-1]
b = a.reset_index()
c = a.reset_index(drop=True)
print(a)
print(b)
print(type(b))
print(c)

### Series.rolling()
This method can be used to apply built-in methods in a "rolling" (i.e., windowed) fashion. The call is performed as  `series.rolling(period,win_type=None).method()` where `period` is the number of values to include in the window (calculated backward from each value by default), win_type is an optional argument that can affect how the values within the window are weighted (default is even weighting) and `method()` is the method that you want to apply to each window. `period` can be supplied as a frequency string for time-series data:

In [ ]:
a = pd.Series(range(5))
print(a.rolling(2).mean())

### Series.round()
The method `series.round(decimals=0)` returns a new series with values rounded to the indicated number of decimal places:

In [ ]:
a = pd.Series([1.0,1.12,1.15,1.5,1.55,1.9])
print(a.round())
print(a.round(1))

### Series.sample()
The method `series.sample(n=1,replace=False,random_state=None)` returns a new series containing `n` randomly sampled values. `replace=True` may be used to sample the series with replacement (i.e., the same row might be selected more than once), and `random_state` can optionally be set to a specific value to ensure reproducible behavior. `frac` and `weights` are also useful optional arguments (see docs for full details):

In [ ]:
a = pd.Series(range(5))
print(a.sample(5))
print(a.sample(100,replace=True))

### Series.searchsorted()
The method `series.searchsorted(value)` returns the index in the series where the `value` should be inserted in order to maintain the existing ordering of the series. The existing series should typically already be ordered for this to return sensible indices. `value` can also be supplied as a list of values, and a list of indices is returned:

In [ ]:
a = pd.Series([1,3,5,7])
print(a.searchsorted([2,6]))
print(a.searchsorted([0,1,3]))
print(a)

### Series.sem()
This method returns the standard error of the mean (optional `ddof` argument can be used to set the degrees of freedom for the denominator correction):

In [ ]:
a = pd.Series(range(5))
print(a.sem())
print(a.std()/(5)**(0.5))

### Series.shift()
The method `series.shift(periods)` returns a new series with the same number of values, but with the specified number of periods inserted into it at the beginning (for positive `periods` value) or end (for negative `periods` values). Inserted values default to `NaN` and values shifted beyond the series are lost:

In [ ]:
a = pd.Series(range(5))
a = a.add_prefix('r')
print(a.shift(3))
print(a.shift(-3))

### Series.skew()
This method returns the skew of a distribution that is held in a series:

In [ ]:
a = pd.Series(np.random.normal(size=10000))
print(a)
print(a.skew())

### Series.sort_index()
This method returns a new series with a sorted index (labels must be of a compatible type for the `>` comparison):

In [ ]:
a = pd.Series(range(5))
a.index = a.index[::-1]
print(a)
print(a.sort_index())

b = pd.Series(range(3),index=["c","b","a"])
print(b)
print(b.sort_index())


# Create a Series with mixed index types
c = pd.Series(range(3), index=[2, "b", 1])
# # ERROR because int and strings can't be compared
# print(c.sort_index())

# Convert all index elements to strings
c.index = c.index.map(str)
# Sort the index
print(c.sort_index())

### Series.sort_values()
This method returns a new series with sorted values:

In [ ]:
a = pd.Series(range(5)[::-1])
print(a)
print(a.sort_values())

### Series.std()
This method returns the sample standard deviation (optional `ddof` argument can be used to adjust the degrees of freedom):

In [ ]:
a = pd.Series(range(5))
print(a.std())

### Series.sum()
This method returns the sum of value in a series:

In [ ]:
a = pd.Series(range(5))
print(a.sum())

### Series.take()
The method `series.take([positions])` returns a new series with the labels and values indicated by the `[positions]` list, where the values in `positions` are interpreted as order not the literal label. This is analogous to using list-based slicing:

In [ ]:
a = pd.Series(range(5),index=["a","b","c","d","e"])
print(a.take([3,0]))
print(a[[3,0]])

### Series.to_*()
Series and dataframe objects have a large number of methods for writing these objects to files (e.g., csv, excel, json) and other data structures (e.g., list, dictionary, array):

In [ ]:
a = pd.Series(range(5),index=range(5)[::-1])
b = a.to_dict()
c = a.to_numpy()
print(a)
print(b)
print(c)

### Series.transform()
The method `series.transform(function)` returns a new series where `function` has been applied to the values of the original series. For series `.transform()` and `.apply()` are essentially identical, for dataframes they have some distinct behaviors:

In [ ]:
a = pd.Series(range(-1,5))
b = a.transform(abs)
c = a.transform(lambda x:x/100.0)
print(b)
print(c)

### Series.truncate()
The method `series.truncate(before=None,after=None)` returns a new series only the values between the indicated labels returned (equivalent to slicing):

In [ ]:
a = pd.Series(range(5),index=["a","b","c","d","e"])

# Note: order based labels are not supported
#       i.e., print(a.truncate(1,3)) will not work.
print(a.truncate("c","d"))
print(a.truncate(after="d"))
print(a.truncate(before="c"))

# Equivalent slicing
print(a["c":"d"])
print(a[:"d"])
print(a["c":])

### Series.unique()
This method returns an array with the unique values of the original series:

In [ ]:
a = pd.Series([1,1,3,1,10,2,2,3])
print(a.unique())
print(type(a.unique()))

### Series.update()
The method `series1.update(series2)` updated the values in `series1` with the non-NaN values from `series2`. The operation is aligned by index:

In [ ]:
a = pd.Series([1,2,3])
b = pd.Series([12,13,np.NaN],index=[2,1,0])
print(a)
a.update(b)
print(a)

### Series.value_counts()
This method returns a series with index corresponding to unique values and values corresponding to their count in the original series (can be useful for histogramming, especially with optional arguments):

In [ ]:
a = pd.Series([1,1,3,1,10,2,2,3])
print(a.value_counts())

### Series.var()
This method returns the sample variance of the series (optional `ddof` argument can be used to adjust the degrees of freedom):

In [ ]:
a = pd.Series(range(5))
print(a.var())
print(a.std()**(2.0))

### Series.where()
The method `series.where(condition)` returns a new series with `NaN` for values where `condition` is `True` (similar to `series.mask()` which does the same for `False`):

In [ ]:
a = pd.Series(range(5))
print(a.where(a>1))
print(a.where(3>a))
print(a.mask(a>1))
print(a.mask(3>a))

In [ ]:
a = pd.Series(range(-1,5))
b = pd.Series(a,a.index[::-1])
print("\na:\n{}".format(a))
print("\nb:\n{}".format(a))
print("\na.abs():\n{}".format(a.abs()))
print("\na.add(b):\n{}".format(a.add(b)))
print("\na.add_prefix('pre'):\n{}".format(a.add_prefix("pre")))
print("\na.add_suffix('suf'):\n".format(a.add_suffix("suf")))
print("\na.agg(lambda x: (x%2)*10):\n{}".format(a.agg(lambda x: (x%2)*10)))
print("\na.align(b):\n{}".format(a.align(b)))
print("\nb.align(a):\n{}".format(b.align(a)))
print()